In [2]:
import pandas as pd

In [ ]:
from mlxtend.frequent_patterns import apriori, association_rules

def recomendacao_apriori(dados, suport_min = 0.01, confi_min = 0.1, lift_min = 0.5):
    dados_atributos = dados.drop(columns='id_consumidor')
    dados_if = apriori(dados_atributos,min_support=suport_min,use_colnames=True)   
    dados_ar = association_rules(dados_if, metric='confidence', min_threshold=confi_min)
    dados_selecionados = dados_ar[dados_ar['lift']>lift_min]
    return dados_selecionados[['antecedents', 'consequents']]

In [4]:
dados = pd.read_csv('banco_de_dados_relacional_de_filmes.csv')

recomendacao_apriori(dados)

c:\Users\Gabriel\anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:161: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

    antecedents consequents
0           (2)         (1)
1           (1)         (2)
2           (3)         (1)
3           (1)         (3)
4           (4)         (1)
..          ...         ...
424     (8, 16)        (17)
425    (10, 12)        (18)
426    (17, 12)        (14)
427    (19, 15)        (13)
428    (15, 13)        (19)

[429 rows x 2 columns]